<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시물 작성 폼</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<style>
    .layout {
        width : 500px;
        margin : 0 auto;
        margin-top : 40px;
    }

    .btn-upload {
      width: 50px;
      background: #fff;
      border: 1px solid rgb(77,77,77);
      border-radius: 10px;
      font-weight: 500;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
        background: rgb(77,77,77);
        color: #fff;
      }
    }

    #file {
      display: none;
    }
</style>
<body>
    <div class="layout">
        <form action="/board/uploadPro" method="post" enctype="multipart/form-data">
            <div class="row">
                <div>
                    <input type="text" name="filepath" id="filepath" value="">
                </div>
                <div>
                    <label for="file">
                        <div class="btn-upload">...</div>
                    </label>
                    <input type="file" name="file" id="file" onchange="fileUpload()">
                    <button type="submit">アップロード</button>
                </div>
            </div>
        </form>
        <a href="/board/download">download</a>
        <button type="button" class="btn btn-info btn-lg" id="myBtn">Open Modal</button>
<!--        <div th:if="${errorMessage}" class="error-message">-->
<!--            <h1 th:text="${errorMessage}"></h1>-->
<!--        </div>-->
        <!-- Add a button to trigger the modal -->
<!--        <button type="button" class="btn btn-info btn-lg" id="myBtn" data-toggle="modal" data-target="#errorModal">Open Modal</button>-->
    </div>
</body>
<!-- password Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <form action="/board/password" method="post">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div>
                <div class="modal-body">
                    <input type="text" name="password">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </form>
</div>
<!-- error message modal -->
<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h1 id="errorMessage" th:text="${errorMessage}" th:if="${errorMessage}"></h1>
            </div>
            <div class="modal-footer">
                <button id="modalOKButton" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
</html>

<script>
function fileUpload() {
    // 파일경로 취득
    const applyFile = document.getElementById("file").value;

    // filepath 삽입
    document.getElementById("filepath").value = applyFile;
}

$(document).ready(function() {
    $("#myBtn").click(function() {
        $("#myModal").modal();
    });

    var errorMessage = "${errorMessage}";
    console.log("errorMessage:", errorMessage);
    if (errorMessage !== null && errorMessage.trim() !== '') {
        $('#errorModal').modal('show');
    }

    $('#modalOKButton').click(function() {
        $("#myModal").modal();
    });
});
</script>